@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import "~bootswatch/dist/litera/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/litera/bootswatch";

*{
    font-family: 'Montserrat', sans-serif;
  }

h5{
    font-weight: bold;
}

.button-position
{
    margin-left:75px;
}

.button-spacing
{
    margin-left:10px;
    font-size: medium;
    width: 100px;
    text-align: center;
}