<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <div class="wrapper">
        <div app-side-navbar></div>
        <div class="main_content">
            <br>
            <div class="header">Users</div>
            <div class="info">
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <br>
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-success">
                            <td>Person Name</td>
                            <td>Username</td>
                            <td>Email Address</td>
                            <td>Role</td>
                            <td>Login Status</td>
                            <td>Delete</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>