<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side-navbar</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <h6>Green Future Solutions <!--<img src="assets/Images/GFS_edited.png">--></h6>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Employees</a></li>
                <li><a href="#">Clients</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Bookings</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Assets</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </div>
    </div>
</body>

</html>